@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  box-sizing: border-box;
}

i {
  position: absolute;
  left: 90%;
  bottom: 10%;
}

i:hover {
  color: #8f00ff;
  cursor: pointer;
}

.active {
  color: white;
}

.active-icon {
  color: purple !important;
}

.sidebar-icon {
  color: gray;
  font-size: large;
}

.sidebar-items {
  color: gray;
  /* font-size: large; */
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover p {
  color: white;
  text-decoration: none;
}

.sidebar-items:hover svg {
  color: purple;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1em;
}
